<div class="edu-container">
    <div class="title">Education</div>
    <div class="edu-subcontainer">
        <div class="d-flex flex-row first-line">
            <div class="d-flex flex-column">
                <div class="uni-title">University Of Toronto - St. George</div>
                <div class="uni-degree">Bachelor of Science - Major in Computer Science and Statistics, Minor in Mathmatics</div>
            </div>
            <div class="d-flex flex-column" style="align-items: flex-end;">
                <div class="dates">Sep 2022 - May 2025</div>
                <div class="location">Toronto, ON</div>
            </div>
        </div>
        <div class="description-container">
            <div><span style="text-decoration: underline;">GPA:</span> 3.5 / 4.0</div>
            <span style="text-decoration: underline;">Coursework:</span>
            <div class="d-flex flex-row" style="justify-content: space-between;">
                <div class="d-flex flex-column">
                    <div>• Calculus with Proofs</div>
                    <div>• Multivariable Calculus with Proofs</div>
                    <div>• Introductory Computer Science I and II</div>
                </div>
                <div class="d-flex flex-column">
                    <div>• Software Design</div>
                    <div>• Introduction to the Theory of Computation</div>
                    <div>• Introductory Computer Science I and II</div>
                </div>
                <div class="d-flex flex-column">
                    <div>• Linear Algebra I and II with Proofs</div>
                    <div>• Software Tools and Systems Programming</div>
                    <div>• Computer Organization</div>
                </div>
                <div class="d-flex flex-column">
                    <div>• Data Structures and Analysis</div>
                    <div>• Introduction to Databases</div>
                    <div>• Computer Organization</div>
                </div>
            </div>             
        </div>
    </div>
    <div class="edu-subcontainer">
        <div class="d-flex flex-row first-line">
            <div class="d-flex flex-column">
                <div class="uni-title">Pluralsight</div>
                <div class="uni-degree">Courses Completed During Internship @ PwC Canada</div>
            </div>
            <div class="d-flex flex-column" style="align-items: flex-end;">
                <div class="dates">Sep 2022 - May 2025</div>
                <div class="location">Toronto, ON</div>
            </div>
        </div>
        <div class="description-container">
            <span style="text-decoration: underline;">Coursework:</span> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>
    <div class="edu-subcontainer">
        <div class="d-flex flex-row first-line">
            <div class="d-flex flex-column">
                <div class="uni-title">Udemy</div>
                <div class="uni-degree">Courses Completed Just For Fun</div>
            </div>
            <div class="d-flex flex-column" style="align-items: flex-end;">
                <div class="dates">Sep 2022 - May 2025</div>
                <div class="location">Toronto, ON</div>
            </div>
        </div>
        <div class="description-container">
            <div><span style="text-decoration: underline;">Coursework & Certificates:</span></div>
            <div style="color: blue;">• <a  class="link-ref" href="https://www.udemy.com/certificate/UC-a68a1040-4630-4546-8372-7a8d2a46d637/" target="_blank">Java Programming Masterclass for Software Developers - Completed</a>&nbsp;<a href="https://www.udemy.com/certificate/UC-a68a1040-4630-4546-8372-7a8d2a46d637/" target="_blank"><i class="fa-solid fa-link"></i></a></div>
            <div style="color: blue;">• <a  class="link-ref" href="https://www.udemy.com/certificate/UC-57868e09-ebed-4d8c-a50e-985a13fa444b/" target="_blank">Python Programming Masterclass - Completed</a>&nbsp;<a href="https://www.udemy.com/certificate/UC-57868e09-ebed-4d8c-a50e-985a13fa444b/" target="_blank"><i class="fa-solid fa-link"></i></a></div>
        </div>
    </div>
</div>