<div class="edu-container">
    <div class="title">Education</div>
    <div class="edu-subcontainer">
        <div class="d-flex flex-row first-line">
            <div class="d-flex flex-column">
                <div class="uni-title">University Of Toronto - St. George</div>
                <div class="uni-degree">Bachelor of Science - Major in Computer Science & Statistics, Minor in Mathmatics</div>
            </div>
            <div class="d-flex flex-column" style="align-items: flex-end;">
                <div class="dates">Sep 2022 - May 2025</div>
                <div class="location">Toronto, ON</div>
            </div>
        </div>
        <div class="description-container">
            <div><span style="text-decoration: underline;">GPA:</span> 3.5 / 4.0</div>
            <span style="text-decoration: underline;">Coursework:</span>
            <div class="d-flex flex-row" style="justify-content: space-between;">
                <div class="d-flex flex-column">
                    <div>• Calculus with Proofs</div>
                    <div>• Multivariable Calculus with Proofs</div>
                    <div>• Introductory Computer Science I & II</div>
                </div>
                <div class="d-flex flex-column">
                    <div>• Software Design</div>
                    <div>• Introduction to the Theory of Computation</div>
                    <div>• Introductory Computer Science I & II</div>
                </div>
                <div class="d-flex flex-column">
                    <div>• Linear Algebra I & II with Proofs</div>
                    <div>• Software Tools & Systems Programming</div>
                    <div>• Computer Organization</div>
                </div>
                <div class="d-flex flex-column">
                    <div>• Data Structures & Analysis</div>
                    <div>• Introduction to Databases</div>
                    <div>• Computer Organization</div>
                </div>
            </div>             
        </div>
    </div>
    <div class="edu-subcontainer">
        <div class="d-flex flex-row first-line">
            <div class="d-flex flex-column">
                <div class="uni-title">Pluralsight</div>
                <div class="uni-degree">Courses During Internship @ PwC Canada</div>
            </div>
            <div class="d-flex flex-column" style="align-items: flex-end;">
                <div class="dates">Sep 2022 - May 2025</div>
                <div class="location">Toronto, ON</div>
            </div>
        </div>
        <div class="description-container">
            <span style="text-decoration: underline;">Coursework & Certificates:</span>
            <div class="d-flex flex-row" style="justify-content: space-between;">
                <div class="d-flex flex-column">
                    <div style="color: blue;">• <a  class="link-ref" href="https://app.pluralsight.com/learner/user/courses/v2/12d7d1cc-b3ec-40b2-b13e-3c35e8ba07a5/certificate" target="_blank">Angular: Getting Started</a>&nbsp;<a  class="link-ref" href="https://app.pluralsight.com/learner/user/courses/v2/12d7d1cc-b3ec-40b2-b13e-3c35e8ba07a5/certificate" target="_blank"><i class="fa-solid fa-link"></i></a></div>
                    <div style="color: blue;">• <a  class="link-ref" href="https://app.pluralsight.com/learner/user/courses/v2/c3d1cf6f-addf-4f27-8ce4-f90e9814d2cd/certificate" target="_blank">RxJS in Angular: Reactive Development</a>&nbsp;<a  class="link-ref" href="https://app.pluralsight.com/learner/user/courses/v2/c3d1cf6f-addf-4f27-8ce4-f90e9814d2cd/certificate" target="_blank"><i class="fa-solid fa-link"></i></a></div>
                    <div style="color: blue;">• <a  class="link-ref" href="https://app.pluralsight.com/learner/user/courses/v2/f6abd872-0b11-4192-8c7d-a0345b0e991c/certificate" target="_blank">Angular Component Communication</a>&nbsp;<a  class="link-ref" href="https://app.pluralsight.com/learner/user/courses/v2/f6abd872-0b11-4192-8c7d-a0345b0e991c/certificate" target="_blank"><i class="fa-solid fa-link"></i></a></div>
                </div>
                <div class="d-flex flex-column">
                    <div style="color: blue;">• <a  class="link-ref" href="https://app.pluralsight.com/learner/user/courses/v2/01cc5a0e-4a99-4e27-ad9d-3157eb1b67ba/certificate" target="_blank">Angular Routing</a>&nbsp;<a  class="link-ref" href="https://app.pluralsight.com/learner/user/courses/v2/01cc5a0e-4a99-4e27-ad9d-3157eb1b67ba/certificate" target="_blank"><i class="fa-solid fa-link"></i></a></div>
                    <div style="color: blue;">• <a  class="link-ref" href="https://app.pluralsight.com/learner/user/courses/v2/6611d058-2eb5-4b9b-86e8-6fad2703a94a/certificate" target="_blank">Styling Applications with Angular Material</a>&nbsp;<a  class="link-ref" href="https://app.pluralsight.com/learner/user/courses/v2/6611d058-2eb5-4b9b-86e8-6fad2703a94a/certificate" target="_blank"><i class="fa-solid fa-link"></i></a></div>
                    <div>• Angular Reactive Forms&nbsp;</div>
                </div>
                <div class="d-flex flex-column">
                    <div style="color: blue;">• <a  class="link-ref" href="https://app.pluralsight.com/learner/user/courses/v2/f16527a6-3a51-4d32-9a30-2bffd4eb3bb0/certificate" target="_blank">Web Layouts with Flexbox & Bootstrap 4</a>&nbsp;<a  class="link-ref" href="https://app.pluralsight.com/learner/user/courses/v2/f16527a6-3a51-4d32-9a30-2bffd4eb3bb0/certificate" target="_blank"><i class="fa-solid fa-link"></i></a></div>
                    <div style="color: blue;">• <a  class="link-ref" href="https://app.pluralsight.com/learner/user/courses/v2/865059e1-d89b-47fe-947e-1f981f0de678/certificate" target="_blank">Bootstrap Styling</a>&nbsp;<a  class="link-ref" href="https://app.pluralsight.com/learner/user/courses/v2/865059e1-d89b-47fe-947e-1f981f0de678/certificate" target="_blank"><i class="fa-solid fa-link"></i></a></div>
                    <div>• ASP.NET Core 6 Web API Fundamentals</div>
                </div>
                <div class="d-flex flex-column">
                    <div>• Entity Framework Core 6</div>
                    <div>• Entity Framework Core 5</div>
                    <div>• C# 10</div>
                </div>
            </div>  
        </div>
    </div>
    <div class="edu-subcontainer">
        <div class="d-flex flex-row first-line">
            <div class="d-flex flex-column">
                <div class="uni-title">Udemy</div>
                <div class="uni-degree">Courses Completed Just For Fun</div>
            </div>
            <div class="d-flex flex-column" style="align-items: flex-end;">
                <div class="dates">Sep 2022 - May 2025</div>
                <div class="location">Toronto, ON</div>
            </div>
        </div>
        <div class="description-container">
            <div><span style="text-decoration: underline;">Coursework & Certificates:</span></div>
            <div style="color: blue;">• <a  class="link-ref" href="https://www.udemy.com/certificate/UC-a68a1040-4630-4546-8372-7a8d2a46d637/" target="_blank">Java Programming Masterclass for Software Developers</a>&nbsp;<a href="https://www.udemy.com/certificate/UC-a68a1040-4630-4546-8372-7a8d2a46d637/" target="_blank"><i class="fa-solid fa-link"></i></a></div>
            <div style="color: blue;">• <a  class="link-ref" href="https://www.udemy.com/certificate/UC-57868e09-ebed-4d8c-a50e-985a13fa444b/" target="_blank">Python Programming Masterclass</a>&nbsp;<a href="https://www.udemy.com/certificate/UC-57868e09-ebed-4d8c-a50e-985a13fa444b/" target="_blank"><i class="fa-solid fa-link"></i></a></div>
        </div>
    </div>
</div>