<div class="about-container">
    <div class="test-text">Fardin Faruk</div>
    <div class="subtitle">Software Engineer | Computer Science & Statistics Student @ University Of Toronto - St. George</div>
    <div class="location">Toronto, ON Canada | <a href="mailto:www.fardin2273faruk@gmail.com">Email Me: fardin2273faruk@gmail.com</a></div>
    <div class="one-liner">A passionate developer who impacts teams to produce innovative solutions.</div>
    <div class="file-redirect"><a href="assets/temp.pdf" target="_blank"><i class="fa-solid fa-file"></i></a>&nbsp;<a href="assets/temp.pdf" target="_blank">Check Out My Resume</a></div>
    <div class="contact-me">Feel Free To Contact Me!</div>
    <div class="d-flex flex-row social-row">
        <a class="social-ref" target="_blank" href="https://github.com/Fard-Faru"><i class="fa-brands fa-square-github"></i></a>
        <a class="social-ref"  target="_blank" href="https://www.linkedin.com/in/fardinfaruk/"><i class="fa-brands fa-linkedin"></i></a>
        <a class="social-ref"  target="_blank" href="mailto:fardin2273faruk@gmail.com"><i class="fa-solid fa-envelope"></i></a>
    </div>
</div>

