<div class="exp-container">
    <div class="title">Experience</div>
    <div class="job-container">
        <div class="d-flex flex-row first-line">
            <div class="d-flex flex-column">
                <div class="job-title">Software Engineer</div>
                <div class="job-company">PricewaterhouseCoopers LLP, Canada (PwC Canada)</div>
            </div>
            <div class="d-flex flex-column" style="align-items: flex-end;">
                <div class="dates">May 2022 - Aug 2022</div>
                <div class="job-location">Toronto, ON (Hybrid)</div>
            </div>
        </div>
        <div class="job-description">
            <div> • Developed the web application, PwC Access Advantage with a team of 35+ developers using <strong>Angular, JavaScript,
                C# and SQL</strong> which provides 20 000+ clients yearly, simple access to company specialists and their services</div>
                <div>• Integrated Responsive Web Designs for excellent user experience and interface for varying screen sizes</div>
                <div>• Implemented a translation API to translate text content between English and French from a drop-down menu</div>
                <div>• Developed CRUD APIs with HTTP POST, GET, PUT and DELETE to handle user data as desired by the application</div>
                <div>• Created tables and implemented Business Logic to handle relational data in a <strong>SQL</strong> server</div>
                <div>• Integrated <strong>C#</strong> Unit Tests which verified stability and correctness of API’s before deployment</div> 
        </div>
    </div>
    <div class="job-container">
        <div class="d-flex flex-row first-line">
            <div class="d-flex flex-column">
                <div class="job-title">Lead Software Engineer</div>
                <div class="job-company">FOCUS.Inspired</div>
            </div>
            <div class="d-flex flex-column" style="align-items: flex-end;">
                <div class="dates">Jul 2021 - May 2022</div>
                <div class="job-location">Remote - Toronto, ON</div>
            </div>
        </div>
        <div class="job-description">
            <div>• Lead a team of 5 developer for the product of the web application, Career Buddy, which assisted 100+ unemployed clients to grasp the skills to find employment using <strong>React, JavaScript and SQL</strong></div>
            <div>• Integrated a GET API to collect data from Airtable (server) and present modifiable content on to the web page</div>
            <div>• Devised video and audio recording system which utilizes the AWS like, S3 spaces alongside GET and PUT APIs to store and retrieve user recordings using Digital Ocean</div> 
        </div>
    </div>
    <div class="job-container">
        <div class="d-flex flex-row first-line">
            <div class="d-flex flex-column">
                <div class="job-title">Lead Robotics Engineering Educator</div>
                <div class="job-company">Durham District School Board</div>
            </div>
            <div class="d-flex flex-column" style="align-items: flex-end;">
                <div class="dates">Jan 2020 - Jun 2020</div>
                <div class="job-location">Pickering, ON</div>
            </div>
        </div>
        <div class="job-description">
            <div>• Worked in a team with experienced robotic developers to teach and assist high school students in their first experience programming/building robots.</div>
            <div>• Created and led engineering problems/activities where students would develop problem-solving/programming skills.</div>
            <div>• Provided a learning environment that promoted logic, creativity, and passion for generating solutions as I teach the process of debugging code with students.</div>
            <div>• Utilized <strong>Arduino C</strong> Block Programming which successfully taught software development and problem solving</div>
            <div>• Developed smart mBot robots as teaching examples for students to develop which solved real life problems</div>
            <div>• Implemented a colour tracking software where a robot uses a camera to follow a trail of the colour black</div>
        </div>
    </div>
</div>