<div class="edu-container">
    <div class="title">Experience</div>
    <div class="job-container">
        <div class="d-flex flex-row first-line">
            <div class="d-flex flex-column">
                <div class="job-title">Software Engineer</div>
                <div class="job-company">PricewaterhouseCoopers LLP, Canada (PwC Canada)</div>
            </div>
            <div class="d-flex flex-column" style="align-items: flex-end;">
                <div class="dates">May 2022 - Aug 2022</div>
                <div class="job-location">Toronto, ON (Hybrid)</div>
            </div>
        </div>
        <div class="job-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>
    <div class="job-container">
        <div class="d-flex flex-row first-line">
            <div class="d-flex flex-column">
                <div class="job-title">Lead Software Engineer</div>
                <div class="job-company">FOCUS.Inspired</div>
            </div>
            <div class="d-flex flex-column" style="align-items: flex-end;">
                <div class="dates">Jul 2021 - May 2022</div>
                <div class="job-location">Remote</div>
            </div>
        </div>
        <div class="job-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>
    <div class="job-container">
        <div class="d-flex flex-row first-line">
            <div class="d-flex flex-column">
                <div class="job-title">Lead Robotics Engineering Educator</div>
                <div class="job-company">Durham District School Board</div>
            </div>
            <div class="d-flex flex-column" style="align-items: flex-end;">
                <div class="dates">Jan 2022 - Jun 2022</div>
                <div class="job-location">Pickering, ON</div>
            </div>
        </div>
        <div class="job-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
    </div>
</div>