<div class="vertical-nav" id="sidebar">
  <div class="py-4 px-3 mb-4 ">
    <div class="media d-flex align-items-center">
      <img src="../assets/Picture_Pro.jpg" alt="..." class="rounded-circle img-rounded img-thumbnail shadow-sm">
    </div>
      <div class="title-content">
        <h3 class="m-0" >Fardin Faruk</h3>
        <div class="subtitle-content" style="font-style: italic;">
          <p>Software Engineer</p>
        </div> 
      </div>
    </div>
    <div class="menu-body-format">
      <p class="content-title"><i class="fa fa-rocket"></i> About Me</p>
      <p class="content-title"><i class="fa-solid fa-school"></i> Education</p>
      <p class="content-title"><i class="fa-solid fa-briefcase"></i> Experience</p>
      <p class="content-title"><i class="fa-solid fa-file-code"></i> Projects</p>
      <p class="content-title"><i class="fa-solid fa-terminal"></i> Skills</p>
      <p class="content-title"><i class="fa-solid fa-people-group"></i> Extracurriculars</p>
      <p class="content-title"><i class="fa-solid fa-trophy"></i> Awards</p>
    </div>
    <div class="nav-footer-content">
      <div class="footer-title">
        <p style="margin-bottom: 0px;">Reach Out to Me!</p>
      </div>
      <div class="d-flex flex-row footer-content">
        <a class="social-ref" target="_blank" href="https://github.com/Fard-Faru"><i class="fa-brands fa-square-github"></i></a>
        <a class="social-ref"  target="_blank" href="https://www.linkedin.com/in/fardinfaruk/"><i class="fa-brands fa-linkedin"></i></a>
        <a class="social-ref"  target="_blank" href="mailto:fardin2273faruk@gmail.com"><i class="fa-solid fa-envelope"></i></a>
      </div>
    </div>
</div>
<div class="page-content p-5" id="content">
  <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Toggle</small></button>
</div>

