<div class="vertical-nav" id="sidebar">
  <div class="py-4 px-3 mb-4 ">
    <div class="media d-flex align-items-center">
      <img src="../assets/Picture_Pro.jpg" alt="..." class="rounded-circle img-rounded img-thumbnail shadow-sm">
    </div>
      <div class="title-content">
        <h4 class="m-0" >Fardin Faruk</h4>
        <div class="subtitle-content" style="font-style: italic;">
          <p>Software Engineer</p>
        </div> 
      </div>
    </div>
    <div class="menu-format">
      <p>About Me</p>
      <p>Education</p>
      <p>Experience</p>
      <p>Projects</p>
      <p>Skills</p>
      <p>Extracurriculars</p>
      <p>Awards</p>
    </div>
</div>
